<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.renote.server.mapper.AdviceMapper">
    <resultMap id="Advice" type="com.renote.core.model.Advice">
        <id property="adviceId" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="message" column="message"/>
        <result property="userId" column="user_id"/>
        <result property="watch" column="watch"/>
    </resultMap>
    <insert id="save" parameterType="com.renote.core.model.Advice">
        insert into advice(message, user_id, create_time, watch)
        values (#{message}, #{userId}, #{createTime}, #{watch})
    </insert>
    <update id="updateWatch">
        update advice
        set watch= true
        where advice_id = #{adviceId}
    </update>
    <select id="getUserAdvice" resultType="com.renote.core.model.Advice">
        select *
        from advice
        where user_id = #{userId}
        order by create_time desc
    </select>
</mapper>